{% extends "base.html" %}
{% block content %}
    <h3>About Us</h3>
    <div class="content-section">
          <Col md="12">
          
                <p>We provide a platform for the people who wants to help others in need with not just bringing them groceries, medicines, but in any way they can help.
                Here one can put up a request and get help. Our main focus is to target the old age individuals who are not able to go out and get things they need. 
                So they can ask for help from people near them.</p>
                <p></p>
     
          <Col md="12">
      
          <Col md="12">
                <strong>CRISIS #S (ANY AGE)</strong><br>
United Way Crisis Helpline 1-800-233-HELP<br>
​
Christian Oriented Hotline 1-877-949-HELP<br>
​
Social Security Administration 1-800-772-1213<br><br>
                <strong>EATING DISORDERS</strong><br>
Eating Disorders Awareness and Prevention 1-800-931-2237<br>
​
Eating Disorders Center 1-888-236-1188<br>
​
National Association of Anorexia Nervosa and Associated Disorders 1-847-831-3438<br>
​
Remuda Ranch 1-800-445-1900<br><br>
​
<strong>CRISIS PREGNANCY HELPLINE</strong><br>
Crisis Pregnancy Hotline Number 1-800-67-BABY-6<br>
​
Liberty Godparent Ministry 1-800-368-3336<br><br>
​
​
             
      </div>

{% endblock content %}

