{% extends "base.html" %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12 button-wrapper'>
                <form action='grocery' method='GET'>
                    <button class="homebtn"><i class="fa fa-shopping-cart"></i></button>
                </form>
                <button class="homebtn"><i class='fas fa-ambulance'></i></button>
              <button class="homebtn"><i class="fa fa-phone"></i></button><br><br>
            </div>
        </div>
    </div>
    {%if messages %}
            {% for message in messages%}
            <div class="alert alert - {{message.tags}}"> {{message}}</div>
            {% endfor %}
    {% endif %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.user }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}